*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.gameboard__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }
  
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 1rem;
    font-size: 60px;
  }
  
